.savedmovies__list {
  padding-bottom: 325px;

}

.savedmovies__delete {
background-image: url(../../images/delete.svg);
width: 7px;
height: 7px;
display: none;
}

.savedmovies__item:hover {
  cursor: pointer;
}

.savedmovies__item:hover .savedmovies__delete{
  display: block;
}

@media screen and (max-width: 1279px) {
  .savedmovies__list {
    padding-bottom: 250px;
  
  }
  
}