.navtab {
  list-style-type: none;
  display: flex;
  padding-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.navtab-item {
  border-radius: 10px;
  background: #303030;
  margin: 0 10px 10px;
  min-height: 36px;
  min-width: 96px;
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navtab-link {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .navtab {
    padding-bottom: 17px;
  }

  .navtab-item {
    font-size: 10px;
    margin: 0 3px 10px;
    min-width: 82px;
    min-height: 26px;
    border-radius: 6px;
  }
}