.footer {
  padding: 0 70px 20px;
}

.footer__text {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8B8B8B;
  margin: 20px;
}

.footer__block-top {
  border-bottom: solid #424242 1px;
  margin: 0 0 20px;
}

.footer__block-down {
  display: flex;
  justify-content: space-between;
}

.footer__social-list {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  margin-right: 20px;
}

.aboutme__description-link {
  text-decoration: none;
  color: #fff;
}