.promo {
  border-radius: 10px;
  background-color: #272727;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 40px;
}

.promo__title {
  padding: 160px 0 151px;
  margin: 0;
  max-width: 730px;
}

@media screen and (max-width: 1279px) {
  .promo {
    margin: 20px 20px 0;
  }

  .promo__title {
    padding: 350px 0 314px;
    max-width: 680px;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.04em;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    margin: 14px 14px 0;
  }

  .promo__title {
    padding: 220px 0 255px;
    max-width: 680px;
    font-size: 29px;
    line-height: 37px;
  }
}